# Web Scraping METROCUADRADO

## Librerías

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

## Requerimiento a la pagína

## Selección de grilla

In [80]:
driver = webdriver.Chrome()
driver.get('https://www.metrocuadrado.com/venta/?search=form')
# Get the page source after interactions
page_source = driver.page_source
# Parse the page source with Beautiful Soup
soup = BeautifulSoup(page_source, 'lxml')

driver.quit()

In [81]:
house_grill = soup.find('ul', class_ = 'browse-results-list')

In [82]:
df = pd.DataFrame()

## Nombre Publicación

In [83]:
name_houses_list = []
price_houses = []
area_houses = []
rooms_houses = []
baths_houses = []

for name_houses in house_grill:

    name = name_houses.find('h2', class_ = 'card-title').text
    name_houses_list.append(name)

    info = name_houses.find_all('p', class_ = 'card-subitem')
    
    price_houses.append(info[0].text)
    area_houses.append(info[1].text)
    rooms_houses.append(info[2].text)
    baths_houses.append(info[3].text)


df = pd.DataFrame(name_houses_list, columns=['Nombre_publicacion'])
df['Precio_inmueble'] = price_houses
df['Area_construida'] = area_houses
df['Habitaciones'] = rooms_houses
df['Banios'] = baths_houses
print(df.head(5))

                       Nombre_publicacion Precio_inmueble Area_construida  \
0  Casa en Venta, colinas de suba, Bogot…  $2.600.000.000          290 m²
1          Casa en Venta, Canelón, Cajicá  $1.250.000.000          274 m²
2         Casa en Venta, CHUNUGUA, Cajicá  $2.200.000.000          312 m²
3    Apartamento en Venta, La Colina Cam…  $1.050.000.000       158.32 m²
4   Casa en Venta, Vereda Cerca de Piedr…  $1.850.000.000          455 m²

  Habitaciones Banios
0            3      4
1            5      5
2            3      5
3            3      5
4            4      5

## Información publicación

In [84]:
df

,Nombre_publicacion,Precio_inmueble,Area_construida,Habitaciones,Banios
0,"Casa en Venta, colinas de suba, Bogot…",$2.600.000.000,290 m²,3,4
1,"Casa en Venta, Canelón, Cajicá",$1.250.000.000,274 m²,5,5
2,"Casa en Venta, CHUNUGUA, Cajicá",$2.200.000.000,312 m²,3,5
3,"Apartamento en Venta, La Colina Cam…",$1.050.000.000,158.32 m²,3,5
4,"Casa en Venta, Vereda Cerca de Piedr…",$1.850.000.000,455 m²,4,5
5,"Casa en Venta, COLINA DE LOS VIENT…",$8.000.000.000,736 m²,5,5
6,"Apartamento en Venta, LAGOS DE CO…",$1.190.000.000,172 m²,3,5
7,"Casa en Venta, SAN JOSE DE BAVARIA,…",$2.680.000.000,323 m²,4,5
8,"Casa en Venta, COLINAS DE SUBA, Bo…",$1.700.000.000,380 m²,3,5
9,"Casa en Arriendo, LISBOA, Bogotá …",$10.000.000,198 m²,4,4
10,"Apartamento en Venta, LOS MORROS, …",$3.900.000.000,350 m²,5,5
11,"Apartamento en Venta y Arriendo, CHI…",$4.975.000.000,383 m²,5,5
12,"Casa en Venta, Bosque De Pinos Usaq…",$1.700.000.000,275 m²,3,5
13,"Casa en Arriendo, USAQUEN SANT…",$12.000.000,300 m²,4,5
14,"Apartamento en Venta, LOS ROSALES…",$3.150.000.000,269 m²,4,5
15,"Apartamento en Venta, COLINA CAMP…",$1.620.000.000,187 m²,3,5
16,"Apartamento en Venta, COLINA CAMP…",$1.650.000.000,187 m²,3,5
17,"Casa en Venta, BOSQUE DE PINOS, Bo…",$1.650.000.000,440 m²,3,4
18,"Casa en Venta, NIZA SUBA, Bogotá D.C.",$1.600.000.000,383.2 m²,5,4
19,"Apartamento en Venta, Pardo Rubio, B…",$3.000.000.000,299 m²,4,5
20,"Apartamento en Venta, Riomar, Barra…",$1.450.000.000,157 m²,3,5
21,"Apartamento en Venta, ALTOS DE MI…",$470.000.000,98 m²,3,3
22,"Apartamento en Venta, LAGOS DE C…",$750.000.000,117 m²,3,3
23,"Casa en Venta, San Jose De Bavaria, B…",$2.550.000.000,340 m²,4,4
24,"Apartamento en Venta, LAGOS DE C…",$800.000.000,117 m²,3,3
25,"Apartamento en Venta, Conjunto Resid…",$2.000.000.000,231 m²,3,5
26,"Apartamento en Arriendo, PANCE …",$18.000.000,411 m²,4,5
27,"Apartamento en Venta, COLINA CAM…",$725.000.000,133 m²,3,3
28,"Casa en Venta, Ricaurte",$780.000.000,700 m²,5,5
29,"Casa en Venta, Baskinta, Cajicá",$850.000.000,146 m²,3,3
30,"Apartamento en Venta, COLINA CAMP…",$1.500.000.000,225 m²,3,4
31,"Apartamento en Venta, GALAN COL…",$429.500.000,72 m²,3,2
32,"Casa en Arriendo, Chía",$7.600.000,226 m²,3,5
33,"Apartamento en Arriendo, Altos d…",$5.500.000,147 m²,4,5
34,"Casa en Arriendo, CAJICA, Cajicá",$7.700.000,200 m²,4,5
35,"Casa en Arriendo, BELLA SUIZA, …",$9.500.000,1100 m²,5,5
36,"Apartamento en Venta, PARQUE EL VI…",$1.750.000.000,150 m²,3,4
37,"Apartamento en Venta, La Boquilla, …",$700.000.000,85 m²,2,3
38,"Casa en Venta, TORRE MOLINOS, Bo…",$980.000.000,224 m²,4,5
39,"Casa en Arriendo, LISBOA ANTIGU…",$10.500.000,244 m²,4,5
40,"Apartamento en Arriendo, LA CAB…",$18.000.000,335 m²,4,5
41,"Apartamento en Venta, ALTOS DE USA…",$1.200.000.000,144 m²,3,4
42,"Apartamento en Venta, EL SEMINAR…",$590.000.000,98 m²,2,2
43,"Casa en Venta, Arborada de Cota, Cot…",$1.750.000.000,285 m²,5,5
44,"Apartamento en Venta, santa bárbar…",$370.000.000,98 m²,3,2
45,"Apartamento en Venta, CONJUNTO …",$189.000.000,56 m²,3,2
46,"Casa en Venta, Bosque madero, Cajicá",$1.150.000.000,159 m²,3,4
47,"Casa en Venta, Alfaguara, Jamundi",$330.000.000,99.52 m²,3,2
48,"Apartamento en Venta, LAGOS DE C…",$990.000.000,159 m²,4,4
49,"Casa en Venta, Alfaguara, Jamundi",$330.000.000,99.52 m²,3,2

## Multiples páginas

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

In [84]:
driver = webdriver.Chrome()
driver.get('https://www.metrocuadrado.com/venta/?search=form')
# Get the page source after interactions
page_source = driver.page_source
# Parse the page source with Beautiful Soup
soup = BeautifulSoup(page_source, 'lxml')


df_final = pd.DataFrame()


try:
    # Espera hasta que la página cargue completamente
    WebDriverWait(driver, 5).until(EC.presence_of_element_located((By.CLASS_NAME, "browse-results-list")))

    # Ciclo para navegar a través de las páginas
    current_page = 1
    while True:
        
        # Extrae datos aquí, por ejemplo, nombres de productos
        
        df = pd.DataFrame()
        
        #elements = driver.find_elements(By.CLASS_NAME, "browse-results-list")
        house_grill = soup.find('ul', class_ = 'browse-results-list')
        name_houses_list = []
        price_houses = []
        area_houses = []
        rooms_houses = []
        baths_houses = []

        for name_houses in house_grill:

            name = name_houses.find('h2', class_ = 'card-title').text
            name_houses_list.append(name)

            info = name_houses.find_all('p', class_ = 'card-subitem')
            
            price_houses.append(info[0].text)
            area_houses.append(info[1].text)
            rooms_houses.append(info[2].text)
            baths_houses.append(info[3].text)


        df = pd.DataFrame(name_houses_list, columns=['Nombre_publicacion'])
        df['Precio_inmueble'] = price_houses
        df['Area_construida'] = area_houses
        df['Habitaciones'] = rooms_houses
        df['Banios'] = baths_houses
        df['Pagina'] = current_page
        #print(df.head(5))
        print("Página:",current_page)

        df_final = pd.concat([df_final, df], ignore_index=True)

        # Intenta encontrar el número de la siguiente página y hacer clic en él
        next_page = current_page + 1
        page_elements = driver.find_elements(By.CLASS_NAME, "pagination")

        find_element = driver.find_element(By.CLASS_NAME, "pagination")

        # Ejecutar JavaScript para hacer scroll hasta el elemento
        driver.execute_script("arguments[0].scrollIntoView(true);", find_element)        

        found_next_page = False 

        time.sleep(10)       

        # # Iterar sobre cada elemento para imprimir su texto
        for page_element in page_elements:
            for page in page_element.find_elements(By.CLASS_NAME, 'page-link'):               
                if page.tag_name == 'a':
                    if page.text == str(next_page):                   
                        print(page)
                        page.click()
                        found_next_page = True
                        current_page = next_page
                        time.sleep(5)  # Espera para asegurar que la página se haya cargado completamente
                        break
        
        if not found_next_page:
            print("Reached last page.")
            break
# except Exception as e:
#     print(f"An error occurred: {e}")
finally:
    # Cierra el navegador
    driver.quit()

Página: 1
<selenium.webdriver.remote.webelement.WebElement (session="c5a18207eee97689aa0712b0f6fe7842", element="f.2710670978B5ADF462C1662A76BE0EB1.d.EC389DC4EABD220472734E8BDC6DD18A.e.144")>
Página: 2
<selenium.webdriver.remote.webelement.WebElement (session="c5a18207eee97689aa0712b0f6fe7842", element="f.2710670978B5ADF462C1662A76BE0EB1.d.EC389DC4EABD220472734E8BDC6DD18A.e.145")>
Página: 3
<selenium.webdriver.remote.webelement.WebElement (session="c5a18207eee97689aa0712b0f6fe7842", element="f.2710670978B5ADF462C1662A76BE0EB1.d.EC389DC4EABD220472734E8BDC6DD18A.e.146")>
Página: 4
<selenium.webdriver.remote.webelement.WebElement (session="c5a18207eee97689aa0712b0f6fe7842", element="f.2710670978B5ADF462C1662A76BE0EB1.d.EC389DC4EABD220472734E8BDC6DD18A.e.147")>
Página: 5

KeyboardInterrupt:

In [91]:
df_final.duplicated().value_counts()

False    245
True       5
Name: count, dtype: int64